body {
    font-family:Arial, Helvetica, Sans-Serif;
    margin-right:auto;
    background: #fff;
    background-image: url(images/pattern.jpg);
	font-size:10pt;
	padding-top:70px;
	padding-left:10px;
}

header, footer, aside, nav, article, player_list, field_container, main_container, chat_widget {
        display: block;
}

.brave-fitter { 
	margin: 0 auto; 
	margin-top:20px;
	padding: 0; 
	border: 0;
	height: 650px;
	width: 1150px;
	position:relative;
	z-index: 3;
	/*background: url(images/map_backg.png) no-repeat;*/
	border-style: solid;
	border-width: 17px;
	-moz-border-image: url(images/map_slice_2.png) 51 repeat;
	-webkit-border-image: url(images/map_slice_2.png) 51 repeat;
	-o-border-image: url(images/map_slice_2.png) 51 repeat;
	border-image: url(images/map_slice_2.png) 51 fill repeat;
}

.left-half { 
	float: left; 
	height: 100%;
	padding-top: 40px;
	padding-left: 45px;
}

.right-half { 
	float: left;
	height: 100%;
	width: 820px;
}

.top-quarter { 
	width: 100%; 
	overflow-x: hidden; 
	overflow-y: auto;
}

.bottom-quarter { 
	overflow-x: hidden; 
	overflow-y: auto;
	position: absolute;
	bottom: 0;
	width:inherit;
	padding-bottom: 25px;
	padding-right: 50px;
	padding-left: 20px;
}

.vis-box { 
}

.refresh_button {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

player_list game_field chat_widget chat_container chat_control_area chat_wrap control_panel {
	display:block;
}

player_list {
	float: left;
	width:270px;
	overflow-y: auto
	overflow-x: auto
}

#player_table {
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    margin-left:0px;
    text-align-vertical: center;
}

#player_table th {
	border-bottom:2px solid #804B05;
}

.player_name_td {
	width: 80px;
	overflow-x:hiden;	
}

.chat_button {
	vertical-align: middle;
}

chat_control_area {
	padding-left: 5px;
}

.wrap {
	border: 1px;
	padding:5px;
}

.chat_container {
	height: 120px;
	width: 745px;
	overflow:auto;
	border-color: #542;
	border-style: solid;
	background-color:rgba(250,250,250,0.3); 
}

.chat_input {
	vertical-align: middle;
	width: 695px;
}

chat_widget {
	padding: 5px;
}

#game_field_container {
	margin-top: 28px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#extraDiv1 { 
	background: url(images/pirat.png); 
	position: fixed;
	bottom: 0px;
	right:0px;
	width: 349px; 
	height: 593px; 
	z-index: 1;
}

#logoDiv {
	background: url(images/logo1.png); 
	position: absolute;
	top: 0px;
	left:45%;
	margin: 0 auto;
	width: 232px; 
	height: 143px; 
	z-index: 4;
}

#game_tell_button {
	position: absolute;
	right:55px;
	top: 10px;
	border: none;
}

#stop_game_button {
	position: absolute;
	right:20px;
	top: 10px;
	border: none;
}

.bahn_table {
	border-collapse:collapse;
}

.bahn_table th {
	border: 1px;
	border-color: gray;
	background:#ccf;
	padding: 5px;
}

.bahn_table tr {
	border: 1px;
	border-color: gray;
	background:#ddd;
	padding: 5px;
}

.bahn_table td {
	padding: 5px;
}

.game_button {
	background: url(images/cannon.png) no-repeat;
	height: 30px;
	width: 40px;
	background-position: 0px 0px;
	border: none;
}

.tell_button {
	height: 30px;
	width: 40px;
	background-position: 0px 0px;
	border: none;
	background: url(images/mail.png) no-repeat;
}

.close_button {
	height: 30px;
	width: 40px;
	background-position: 0px 0px;
	border: none;
	background: url(images/close_button.png) no-repeat;
}

.disabled_button {
	background: url(images/transparent.png);
	border: none;
}

.placement_dialog_ok {
	background-color: #bb8;	
}

.your_turn_mess {
	color: red;
	font-size: 18px;
	font-weight: bold;
}

.bahn_div {
	width: 80%;
	background-color: #fff;
	padding: 20px; 
}

.no_enter {
	background-color: #fff;
	margin: 100 auto;
	width: 500px;
	height: 400px;
	text-align: center;
	padding: 50px;
	border-radius: 15px;
}

.prev_players {
	height: 50px;
	width: 50px;
	background-position: 0px 0px;
	border: none;
	background: url(images/go_left.png) no-repeat;
	enabled: false;
}

.next_players {
	height: 50px;
	width: 50px;
	background-position: 0px 0px;
	border: none;
	background: url(images/go_right.png) no-repeat;
}

#shipDiv {
	background: url(images/bg_ship_2.png); 
	position: absolute;
	bottom: 0px;
	left:   0px;
	margin: 0 auto;
	width: 536px; 
	height: 366px;
	z-index: 2;
}

#shipDiv2 {
	background: url(images/bg_ship.png); 
	position: absolute;
	bottom: 0px;
	right:  0px;
	margin: 0 auto;
	width: 300px; 
	height: 366px;  
	z-index: 2;
}

.footer {
 	color: #fff;
}
